<div class="photoheading">
<h2>Replace Artwork</h2>
</div>
<div class="blackbox">
  <%= image_tag "defaultpp.jpg", :class => 'default' %>
  <%= form_for @artwork, :html => {:multipart => true} do |f| %>
  <div class="replaceform">
<%= hidden_field_tag :photo_id, params[:photo_id]%>
<fieldset>
  <%= f.file_field :image%>
</fieldset>
<%= f.submit "Upload", :class => "submit" %>
<% end %>
  </div>
