<div class="photoheading">
<h2>Replace Image</h2>
</div>
<div class="blackbox">
  <%= form_for @artwork, :html => {:multipart => true} do |f| %>
  <div class="editform">
<%= hidden_field_tag :photo_id, params[:photo_id]%>
<fieldset>
  <%= f.label :image %>
  <%= f.file_field :image %>
</fieldset>
<%= f.submit "Edit", :class => "submit" %>
<% end %>
  </div>
