<div class="row">
  <div class="col-md-6">
    <div class="photoheading">
      <h2><%= @artwork.user.name%>'s artwork</h2>
    </div>
      <%= image_tag @artwork.image, :class =>'artworkshow' %>
      <% if @comments.first.present? %>
      <div class="commentbox">
        <ul>
  <% @comments.each do |comment| %>
    <li>
      <%=link_to comment.user.name, user_path(comment.user), :class =>"username"%><%= comment.content %>
      <% if @current_user.id == comment.user_id %>
           <%= link_to image_tag("delete.png", :class => 'bin'), comment, :method => :delete, :data => {:confirm => 'Are you sure?'}%>
    </li>
    <% end %>
    <% end %>
  </ul>
  <% end %>
  <div class="commenting">
    <% if @current_user.present? %>
    <%= form_for @comment do |f| %>
    <div><%= hidden_field_tag :artwork_id, @artwork.id %></div>
    <%= f.text_field :content, placeholder: "write a comment here" %>
    <%= f.submit "post", :class => "submit" %>
    <% end %>
    <% end %>
  </div>
      </div>
      <% if @current_user.present? && @current_user.id == @artwork.user_id %>
        <div class="artworkcontrols">
          <%= link_to "Edit Artwork", edit_artwork_path(@artwork)%>
          <%= link_to "Delete Artwork", @artwork, :method => :delete, :data => {:confirm => 'Are you sure?'}%>
         </div>
      <% end %>
  </div>
  <div class="col-md-6">
    <% if @artwork.photo_id %>
    <div class="photoheading">
      <h2>Inspired by:</h2>
    </div>
      <%= image_tag @artwork.photo.image, :class => 'photoshow' %>
    <% end %>
  </div>
</div>
