<div class="row">
  <div class="col-md-6">
    <div class="photoheading">
      <h2><%= @artwork.user.name%>'s artwork</h2>
    </div>
      <%= image_tag @artwork.image, :class =>'artworkshow' %>
      <% if @comments.first.present? %>
      <ul>
<% @comments.each do |comment| %>
  <li>
    <%= comment.content %> | <%=link_to comment.user.name, user_path(comment.user)%> |
    <% if @current_user.id == comment.user_id %>
        <%= link_to "Delete Comment", @comment, :method => :delete, :data => {:confirm => 'Are you sure?'}%>
  </li>
  <% end %>
  <% end %>
</ul>
<% end %>
    <% if @current_user.present? %>
    <%= form_for @comment do |f| %>
    <div><%= hidden_field_tag :artwork_id, @artwork.id %></div>
    <%= f.text_field :content %>
    <%= f.submit "comment" %>
    <% end %>
    <% end %>
      <% if @current_user.present? && @current_user.id == @artwork.user_id %>
        <div class="artworkcontrols">
          <%= link_to "Edit Artwork", edit_artwork_path(@artwork)%>
          <%= link_to "Delete Artwork", @artwork, :method => :delete, :data => {:confirm => 'Are you sure?'}%>
         </div>
      <% end %>
  </div>
  <div class="col-md-6">
    <% if @artwork.photo_id %>
    <div class="photoheading">
      <h2>Inspired by:</h2>
    </div>
      <%= image_tag @artwork.photo.image, :class => 'photoshow' %>
    <% end %>
  </div>
</div>
