<h1> Community </h1>

<% @users.each do |u| %>
<a href="<%= user_path(u) %>">
  <div class="userandinfo">
    <div class="trial" style="background-image: url(<%=u.image%>)">
    </div>
</a>
    <%= u.name %>
    <br>
    <%= u.location %>
    <br>
    Artworks: <%= u.artworks.length %>
    <br>
    </div>
<% end %>
