<div class="homeedit signup">
  <div class="blackbox">
<h1 class="moveleft">Sign Up</h1>
<% if @user.errors.any? %>
<ol>
  <% @user.errors.full_messages.each do |msg| %>
  <p class="error"><%= msg %></p>
  <% end %>
</ol>
<% end %>
<div class="editform">
  <%= form_for @user, :html => {:multipart => true} do |f| %>
  <%= hidden_field_tag :user_id, params[:user_id]%>
  <fieldset>
    <%= f.label :image, "Profile Picture" %>
    <br>
    <div class="signuppicdiv">
      <%= image_tag "defaultpp.jpg", :class => 'signuppic' %>
      <%= f.file_field :image %>
    </div>
  </fieldset>
  <fieldset>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, :require => true %>
  </fieldset>
  <fieldset>
    <%= f.label :email %>
    <br>
    <%= f.email_field :email, :require => true %>
  </fieldset>
  <fieldset>
    <%= f.label :location %>
    <br>
    <%= f.text_field :location %>
  </fieldset>
  <fieldset>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password %>
  </fieldset>
  <fieldset>
    <%= f.label :password_confirmation %>
    <br>
    <%= f.password_field :password_confirmation %>
  </fieldset>
  <%= f.submit "Sign Up!", :class => 'submit' %>
  <% end %>
</div>
</div>
</div>
