<div class="container">
  <div class="profilecontainer">
  <aside class= "userleft">
    <h2><%= @user.name %></h2>
    <div class="trial" style="background-image: url(<%=@user.image%>)">
    </div>
        <section class="stats">
    <%= render 'shared/stats' %>
  </section>
<div class="followform">
  <%= render 'follow_form' if @current_user.present? %>
</div>
<div class="userinfo">
  <p>Location: <%= @user.location %></p>
      <iframe width="200" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= @user.latitude %>%2C%20%20<%= @user.longitude %>&key=AIzaSyAAiCRdJuc3KbZmfKzLhPkm4DAoG5-7lcA"></iframe>
</div>
      <br>
    <% if @current_user.id == @user.id %>
    <div class="controls">
      <%= link_to "Edit Profile", edit_user_path(@user)%>
      <%= link_to "Delete Profile", @user, :method => :delete, :data => {:confirm => 'Are you sure?'}%>
    </div>
    <% end %>
  </aside>
  <div class= "userright">
    <nav>
      <a href="#" class="artworkfirst">Artworks</a>
      <a href="#">Photos</a>
    </nav>
    <div class="artworksprofile">
      <h1> Artworks </h1>
      <div class="userartworks">
        <% @user.artworks.each do |a| %>
          <%= link_to (image_tag a.image, :class => 'allartworksuser'), a %>
        <% end %>
      </div>
    </div>
<div class="photosprofile">
  <h1> Photos </h1>
    <% @user.photos.each do |p| %>
      <%= link_to (image_tag p.image, :class => 'allphotos'), p %>
    <% end %>

    <% if @current_user.id == @user.id %>
    <div class="upload">
      <%= link_to "Upload Photo", new_photo_path%>
    </div>
    <% end %>
</div>
    </div>
</div>
  </div>
