<div class="container">
  <div class= "userleft">
    <h2><%= @user.name %></h2>
      <%= image_tag @user.image, :class =>'feature' %>
      <h4>Artworks: <%= @user.artworks.length %></h4>
      <h3>Location: <%= @user.location %></h3>
      <br>
    <% if @current_user.id == @user.id %>
    <div class="controls">
      <%= link_to "Edit Profile", edit_user_path(@user)%>
      <%= link_to "Delete Profile", @user, :method => :delete, :data => {:confirm => 'Are you sure?'}%>
    </div>
    <% end %>
    </div>
  <div class= "userright">
    <h1> Artworks </h1>
    <% @user.artworks.each do |a| %>
      <%= link_to (image_tag a.image, :class => 'allartworks'), a %>
    <% end %>

    <h1> Photos </h1>
      <% @user.photos.each do |p| %>
        <%= link_to (image_tag p.image, :class => 'allphotos'), p %>
      <% end %>

      <% if @current_user.id == @user.id %>
      <h3>Inspire others by uploading a photo</h3>
      <div class="controls upload">
        <%= link_to "Upload Photo", new_photo_path%>
      </div>
      <% end %>
    </div>
</div>
